section.row
  .twelve.wide.column.centered
    h2.ui.dividing.header
      //- img(src="/images/icons/plugin.png")
      i.fa.fa-flag.fa-2x.pull-left
      .content Stock Market
        .sub.header 10 year market encapsulation
    #chart.small-margin-top
      svg