section.row
  .twelve.wide.column.centered
    h2.ui.dividing.header
      //- img(src="/images/icons/plugin.png")
      i.fa.fa-flag.fa-2x.pull-left
      .content DH Apparel
        .sub.header Repeat Orders per Month since Inception (June 2014-Present)
    #chart3.small-margin-top
      svg