section.row
  .twelve.wide.column.centered
    h2.ui.dividing.header
      //- img(src="http://duyhuynh.ca/DHblusmall.png")
      i.fa.fa-flag.fa-2x.pull-left
      .content DH Apparel
        .sub.header Monthly Performance Since Inception (June 2014-Present)
    #chart2.small-margin-top
      svg