section.row
  .twelve.wide.column.centered
    h2.ui.dividing.header
      //- img(src="/images/icons/plugin.png")
      i.fa.fa-flag.fa-2x.pull-left
      .content Local Climate Experiment
        .sub.header Indoor and Outdoor Temperature Comparison
    #chart3.small-margin-top
      svg