section.row
  .twelve.wide.column.centered
    h2.ui.dividing.header
      //- img(src="/images/icons/plugin.png")
      i.fa.fa-area-chart.fa-2x.pull-left
      .content DH Apparel
        .sub.header Monthly Revenue by Product
    #chart4.small-margin-top
      svg